<div class="wrapper">
    <main>
        <section class="page-header clear-filter">
            <div class="rellax-header rellax-header-sky" data-rellax-speed="-8">
                <div class="page-header-image" style="background-image: url('assets/img/banner.jpg')"></div>
            </div>
            <h1 class="heading col-md-6">John Montanye, creative & web developer.</h1>
        </section>
        <app-projects></app-projects>
        <app-experience></app-experience>
        <app-skills></app-skills>
        <app-contact></app-contact>
    </main>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <div class="row">
                <nav class="col-md-4">
                    <ul class="col-md-6 d-inline">
                        <li>
                            <a href="https://www.creative-tim.com/license" target="_blank" rel="noopener">
                                Theme License
                            </a>
                        </li>
                    </ul>
                    <ul class="col-md-6 d-inline">
                        <li>
                            <a href="https://github.com/gatewayitconsulting/jmdesigns-app" target="_blank" rel="noopener">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright col-md-8">
                    &copy;
                    {{date | date: 'yyyy'}}, Theme by
                    <a href="https://www.creative-tim.com" target="_blank" rel="noopener">Creative Tim</a>. Designed & Coded by
                    <a href="https://www.gatewayitconsulting.com" target="_blank" rel="noopener">Gateway IT Consulting</a>.
                </div>
            </div>
        </div>
    </footer>
    <app-scroll-to-top></app-scroll-to-top>
</div>
