<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="rellax-header rellax-header-sky" data-rellax-speed="-8">
            <div class="page-header-image" style="background-image: url('assets/img/banner.jpg')">
            </div>
        </div>
        <h3 class="heading col-md-6">John Montanye, front-end developer.</h3>
    </div>
    <app-projects></app-projects>
    <app-skills></app-skills>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            Theme License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{date | date: 'yyyy'}}, Theme by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. Designed & Coded by
                <a href="https://www.gatewayitconsulting.com" target="_blank">Gateway IT Consulting</a>.
            </div>
        </div>
    </footer>
</div>
