<section class="features-2" id="skills" style="background-color: #42186e;">
  <div class="container-fluid">
    <section class="row">
      <div class="col-md-8 mt-0 mr-auto ml-auto">
          <h2 class="title">Skills</h2>
      </div>
    </section>
    <section class="row d-flex justify-content-around">
      <div class="col-md-2" *ngFor="let skill of skills">
        <div class="info">
            <div class="icon icon-primary icon-circle">
              <img src="{{ skill.image }}" height="50px" width="50px" alt="Image of brand associated with text of skill and color of brand."/>
            </div>
            <h4 class="info-title">{{ skill.name }}</h4>
        </div>
      </div>
    </section>
  </div>
</section>
