<div class="wrapper">
    <div class="page-header clear-filter">
      <div class="rellax-header rellax-header-sky" data-rellax-speed="-8">
          <div class="page-header-image" style="background-image: url('assets/img/banner.gif')">
          </div>
      </div>
      <h3 class="heading col-md-6">John Montanye, front-end developer.</h3>
	</div>
  <div class="projects" id="projects">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pt-0 pl-0 pr-1 pb-1">
                    <div class="card card-background card-background-product card-no-shadow" style="background-image: url('assets/img/gitc.JPG')">
                        <div class="card-body">
                            <h3 class="card-title">
                                Gateway IT Consulting
                            </h3>
                            <p class="card-description">
                                A website to help clients and users find solutions for designing, building, and maintaining websites.
                            </p>
                            <a href="https://www.gatewayitconsulting.com/" target="_blank" class="btn btn-primary btn-round">
                                <i class="now-ui-icons ui-1_send"></i> View Website
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-0 pl-0 pr-0 pb-1">
                    <div class="card card-raised card-background card-background-product card-no-shadow" style="background-image: url('assets/img/project18.jpg')">
                        <div class="card-body">
                            <h3 class="card-title">Simplest Cookbook</h3>
                            <p class="card-description">
                                Satires, in the most basic definition, are works making fun of some sort of person or institution...
                            </p>
                            <a href="#pablo" class="btn btn-neutral btn-round">
                                <i class="now-ui-icons ui-1_send"></i> View more
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-0 pl-0 pr-1 pb-1">
                    <div class="card card-background card-background-product card-no-shadow" style="background-image: url('assets/img/thePalateSTL.JPG')">
                        <div class="card-body">
                            <h3 class="card-title">The Palate STL</h3>
                            <p class="card-description pb-5">
                                A local food finder web app.
                            </p>
                            <a href="https://www.thepalatestl.com/" target="_blank" class="btn btn-primary btn-round">
                                <i class="now-ui-icons ui-1_send"></i> View Website
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-0 pl-0 pr-0 pb-1">
                    <div class="card card-background card-background-product card-no-shadow" style="background-image: url('assets/img/project19.jpg')">
                        <div class="card-body">
                            <h3 class="card-title">Our Lady's Inn</h3>
                            <p class="card-description">
                                Living in South Central L.A., Socrates Fortlow is a sixty-year-old ex-convict, still strong enough to kill men with...
                            </p>
                            <a href="#pablo" class="btn btn-primary btn-round">
                                <i class="now-ui-icons ui-1_send"></i> View Website
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-2 section-image" id="skills" style="background-color: #42186e;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 mt-0 mr-auto ml-auto">
                    <h2 class="title">Skills</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary icon-circle">
                            <i class="now-ui-icons users_single-02"></i>
                        </div>
                        <h4 class="info-title">HTML5</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger icon-circle">
                            <i class="now-ui-icons business_chart-bar-32"></i>
                        </div>
                        <h4 class="info-title">A Productivity Platform</h4>
                        <p class="description">Integrate the apps your team already uses directly into your workflow.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning icon-circle">
                            <i class="now-ui-icons arrows-1_refresh-69"></i>
                        </div>
                        <h4 class="info-title">Always In Sync</h4>
                        <p class="description">No matter where you are, Trello stays in sync across all of your devices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <footer class="footer " data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="#">
                          Site Map
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/license">
                          Theme License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              {{date | date: 'yyyy'}}, Theme by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. Designed by
              <a href="https://www.gatewayitconsulting.com" target="_blank">Gateway IT Consulting</a>.
          </div>
      </div>
  </footer>
</div>
