<section id="contact" style="background-color: #fff;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 mt-0 mr-auto ml-auto">
              <h2 class="title">Contact Me</h2>
              <figure class="col-md-3 mx-auto text-center">
                <img alt="Thumbnail Image" class="rounded-circle img-raised" src="assets/img/john.jpg" alt="Picture of young male adult."/>
              </figure>
              <section class="row contact-info align-items-center mb-3 mt-5">
                <div class="col-md-4 text-center">
                  <p class="linkedIn">
                    <a href="https://www.linkedin.com/in/john-montanye/" target="_blank" rel="noopener">
                      <img src="assets/img/linkedin.svg" height="20px" width="20px" alt="Image of brand LinkedIn with blue color associated to LinkedIn."/>
                       Connect with LinkedIn
                    </a>
                  </p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="location"><i class="now-ui-icons location_pin"></i> Chesterfield, MO</p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="phone"><a href="tel:314-578-9037"><i class="now-ui-icons tech_mobile"></i> 314-578-9037</a></p>
                </div>
              </section>
              <section class="row mx-auto my-3 text-center resume">
                <div class="col-md-12">
                    <a href="assets/files/resume.pdf" download><i class="now-ui-icons files_single-copy-04"></i> Resume</a>                  
                </div>
              </section>
              <section class="row mx-auto my-3 text-center">
                <div class="col-md-12">
                    <p><i>*References available upon request</i></p>                  
                </div>
              </section>
              <section class="row mx-auto mb-5 text-center email">
                <div class="col-md-12">
                    <a href="mailto:jmontanye24@gmail.com" class="btn btn-primary btn-round">
                      <i class="now-ui-icons ui-1_send"></i> Email me
                    </a>
                </div>
              </section>
          </div>
      </div>
  </div>
</section>
