<div class="projects" id="projects">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Projects</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 pt-0 pl-0 pr-1 pb-1" *ngFor="let project of projects">
              <div class="card card-background card-background-product card-no-shadow" [ngStyle]="{'background-image': 'url('+project.image+')'}">
                  <div class="card-body">
                      <h3 class="card-title">
                          {{ project.name }}
                      </h3>
                      <p class="card-description">
                          {{ project.description }}
                      </p>
                      <a href="{{ project.websiteLink }}" target="_blank" class="btn btn-primary btn-round">
                          <i class="now-ui-icons ui-1_send"></i> View Website
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
