.pHalf {
    padding: .1rem;
}

.card-description {
    color: #FFF;
}

.badge-custom {
    background-color: #2CA8FF;
    color: #FFF;
    margin: .125rem;
    border-color: #2CA8FF;
    font-size: .6rem;
}
