#experience {
    
    color: white;

    p {
        font-weight: 400;
        font-size: 1.1em;
    }

    img {
        height: 25px;
        width: 25px;
    }

    .work-one {
        text-align: left;
        img {
            margin-left: 5px;
        }
    }

    .work-two {
        text-align: left;
        img {
            margin-right: 5px;
        }
    }

    .education {
        text-align: center;
    }

    @media only screen and (min-width: 768px) {
        .work-one {
            border-right: 2px solid black;
            text-align: right;
        }
    }
}
