<div class="features-2 section-image" id="experience" style="background-color: #4ba2f2;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 mt-0 mr-auto ml-auto">
              <h2 class="title">Work Experience</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Work #1</h4>
        </div>
        <div class="col-md-6">
          <h4>Work #2</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-0 mr-auto ml-auto">
            <h2 class="title">Education</h2>
        </div>
    </div>
</div>
