/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";


/* Font Size Overwrites */
body {font-size: 10px;}
p {font-size: 1.4em;}
h1 {font-size:2.4em !important;}

// Banner Sizes
$banner-size: 375px;

.banner {
    height: $banner-size;
    background-position: center;
}
.heading {
    h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 300px) {
    .heading {
        h1 {
            font-size: 3.3125rem;
        }
    }
}