<section class="container-fluid banner page-not-found" style="background-image: url('../../assets/img/404-robot.svg')" aria-label="Computer drawn image of robot holding magnifying glass.">
  <div class="container">
      <div class="row">
          <div class="col-md-12 heading">
              <h1 class="text-center">Page Not Found!</h1>
          </div>
      </div>
  </div>
</section>
<section class="container my-5 text-center">
  <article class="row">
      <div class="col-md-12 my-3">
          <a class="btn btn-info" href="#" routerLink="/" title="Navigate back to home page">Back home</a>
          <h4>If you have any questions about the website or would like to get into contact please</h4>
          <a class="btn btn-primary" href="mailto:gatewayitconsulting@outlook.com" title="Email Gateway IT Consulting">Email us</a>
      </div>
  </article>
</section>
<footer class="footer" data-background-color="black">
  <div class="container">
      <div class="row">
          <nav class="col-md-4">
              <ul class="col-md-6 d-inline">
                  <li>
                      <a href="https://www.creative-tim.com/license" target="_blank" rel="noopener">
                          Theme License
                      </a>
                  </li>
              </ul>
              <ul class="col-md-6 d-inline">
                  <li>
                      <a href="https://github.com/gatewayitconsulting/jmdesigns-app" target="_blank" rel="noopener">
                          GitHub
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright col-md-8">
              &copy;
              {{date | date: 'yyyy'}}, Theme by
              <a href="https://www.creative-tim.com" target="_blank" rel="noopener">Creative Tim</a>. Designed & Coded by
              <a href="https://www.gatewayitconsulting.com" target="_blank" rel="noopener">Gateway IT Consulting</a>.
          </div>
      </div>
  </div>
</footer>
<app-scroll-to-top></app-scroll-to-top>